* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: rgb(226, 3, 17);
    --color-secondary: rgb(227, 53, 65);
    --color-Tertiary: white
}

header {
    background-color: var(--color-primary);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    
}

header nav ul li a:hover {
    color: black;
}
header nav ul li a{
    padding:10px;
}

a {
    text-decoration: none;
    color: var(--color-Tertiary);
}