* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: rgb(226, 3, 17);
    --color-secondary: rgb(227, 53, 65);
    --color-Tertiary: white;
}

header {
    background-color: var(--color-primary);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;

}

header nav ul li a:hover {
    color: black;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-Tertiary);
}
#inicio{
    background-image: url(../img/fondo-maso1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-inicio {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-inicio {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: var(--color-secondary);
}

h3 {
    font-size: 25px;
}

section {
    padding: 20px;
    margin: auto;
}

#categorias .categoria-card,
#categoria1 .categoria-card1,
#nuevo .nuevo-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 10px;
    padding: 30px;
}

#categorias .card,
#categoria1 .card,
#nuevo .card {
    padding: 20px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    transition: 0.3s transform;
}

#categorias .card:hover,
#categoria1 .card:hover,
#nuevo .card:hover {
    transform: scale(1.03)
}

#categorias .card a,
#categoria1 .card a,
#nuevo .card a {
    text-decoration: none;
    border: 1px solid var(--color-secondary);
    padding: 5px 10px;
    display: block;
    width: 50%;
    color: white;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--color-primary);
    cursor: pointer;
}




.boton-wpp {
    position: sticky;
    left: 1660px;
    bottom: 5px;
    right: 5px;
}




footer {
    padding: 20px;
    background-color: var(--color-secondary);
    color: white;
    height: 100px;

}
footer div p a{
    text-decoration: none;
    color: black;
}

#contacto {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(221, 211, 211);
    border: 2px solid var(--color-secondary);
    color: black;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-secondary);
}

.btn {
    font-size: 16px;
    color: white;
    box-shadow: 0 0 20px rgba(254, 8, 0, 0.4);
    background-color: var(--color-secondary);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-primary);
}

@media(max-width: 880px) {

    #categoria1 .categoria-card1,
    #nuevo .nuevo-card {
        grid-template-columns: 1fr 1fr;

    }
    #inicio{
        background-image: none;
    }

}

@media(max-width: 480px) {

    #categoria1 .categoria-card1,
    #nuevo .nuevo-card {
        grid-template-columns: 1fr;
    }
    .div-inicio{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .div-inicio img{
        height: 450px;
    }
    #inicio{

        height: 1000px;        
    }


}



